<div class="content " style="background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%); color: #333;">
  <div class="d-flex justify-content-center p-5">
    <a href="https://twitter.com" target="_blank" aria-label="Twitter"
      class="bg-white p-3 rounded-5 shadow-lg mx-4 icon-ui">
      <i class="fa fa-twitter" id="twitter"></i>
    </a>
    <a href="https://github.com" target="_blank" aria-label="Twitter"
      class="bg-white p-3 rounded-5 shadow-lg mx-4 icon-ui">
      <i class="fa fa-github-square"></i>
    </a>
    <a href="https://facebook.com" target="_blank" aria-label="Twitter"
      class="bg-white p-3 rounded-5 shadow-lg mx-4 icon-ui">
      <i class="fa fa-facebook-square" id="facebook"></i>
    </a>
    <a href="https://linkedin.com" target="_blank" aria-label="Twitter"
      class="bg-white p-3 rounded-5 shadow-lg mx-4 icon-ui">
      <i class="fa fa-linkedin-square" id="linkedin"></i>
    </a>


  </div>
  <footer class="footer">
    <ng-container *ngFor="let menuItem of menu">
      <div class="d-flex justify-content-center my-2">
        <a [href]="menuItem.link" target="_blank" aria-label="Booster Link" class="icon-container"
          title="Lift me up Rocketty">
          <i class="bi bi-rocket booster-icon"></i>
        </a>
      </div>
    </ng-container>
  </footer>


  <footer class="d-flex justify-content-center align-items-center mt-4 py-3 bg-light">
    <p class="mb-0">© VILJO MV 2024</p>
  </footer>
</div>