<div class="d-flex flex-column justify-content-center align-items-center p-3"
  style="background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%); color: #333;">
  <span class="fs-1 fw-bolder text-uppercase" [innerText]="pageContent?.title"></span>
  <p class="fs-5 my-4 fw-lighter text-justify-ui" [innerText]="pageContent?.description"></p>
  <div class="px-5 py-4">
    <div class="p-3 pb-5 shadow-lg rounded-3 border-1 d-flex flex-column">
      <span class="fs-3 fw-bold w-100 text-center my-4" [innerText]="pageContent?.subTitle"></span>
      <div class="d-flex flex-column px-5">
        <ng-container *ngFor="let content of pageContent?.content">
          <p class="medium my-2 text-justify-ui" [innerText]="content"></p><br>
        </ng-container>
      </div>
      <div>
        <!-- <button class="shadow-lg rounded-5 bg-primary click-ui" [routerLink]="pageContent?.contactLink">Contact
          Me</button> -->
        <button class="contact-button" href="#scrollspyHeading4">Contact Me</button>

      </div>
    </div>
  </div>
</div>

<!-- <section class="about-section">
  <h1 class="about-title">ABOUT ME</h1>
  <hr class="title-underline">
  <p class="about-subtitle">
    Here you will find more information about me, what I do, and my current skills mostly in terms of programming and
    technology.
  </p>
  <div class="about-content">
    <h2>Get to know me!</h2>
    <p>
      I'm a passionate and dedicated Full-Stack Web Developer with a proven track record of creating robust and scalable
      web applications. My expertise spans both front-end and back-end technologies, including Java, Spring Boot, and
      Angular. With a keen eye for design and a commitment to clean, efficient code, I strive to deliver exceptional
      user experiences.
    </p>
    <p>
      I also like sharing content related to the stuff that I have learned over the years in Web Development so it can
      help other people in the Dev Community. Feel free to connect or follow me on my
      <a href="https://www.linkedin.com/in/viljo-mv-93b27a225/" target="_blank">LinkedIn</a> where I post useful content
      related to Web Development and Programming.
    </p>
    <p>
      I'm open to job opportunities where I can contribute, learn, and grow. If you have a good opportunity that matches
      my skills and experience, then don't hesitate to contact me.
    </p>
    <button class="contact-button" href="#scrollspyHeading4">Contact Me</button>
  </div>
</section> -->