<app-header></app-header>
<div class="d-flex flex-column bg-light" id="scrollspy-container" data-bs-spy="scroll" data-bs-target="#navbar-example2"
    data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true">
    <section id="scrollspyHeading1" class="scroll-section" style="background-color: whitesmoke;">
        <app-home></app-home>
    </section>
    <section id="scrollspyHeading2" class="scroll-section">
        <app-about></app-about>
    </section>
    <section id="scrollspyHeading3" class="scroll-section">
        <app-projects></app-projects>
    </section>
    <section id="scrollspyHeading4" class="scroll-section">
        <app-contact></app-contact>
    </section>
</div>
<app-footer></app-footer>