<!-- <div class="d-flex flex-column justify-content-center align-items-center my-5 py-5 bg-light">
  <div class="d-flex flex-column justify-content-center align-items-start mb-4">
    <span class="fs-3">Hi</span>
    <span class="fs-1 fw-bolder">I'm VILJO M V</span>
  </div>
  <p class="fs-5 fw-lighter fst-italic">"Full Stack Web Developer"</p>
</div> -->


<div class="d-flex flex-column justify-content-center align-items-center my-5 py-5" style="background: linear-gradient(135deg, #f0f4f8 0%, #d9e2ec 100%); color: #333;">
  <div class="d-flex flex-column justify-content-center align-items-start mb-4">
    <span class="fs-3">Hi</span>
    <span class="fs-1 fw-bolder">I'm VILJO M V</span>
  </div>
  <p class="fs-5 fw-lighter fst-italic">"Full Stack Web Developer"</p>
</div>
